.yahooweather-widget {
  display: block;
  width: 100%;
  float: left;
  height: 100%;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}
.yahooweather-widget * {
  box-sizing: border-box;
}
.yahooweather-widget-container {
  width: 31rem;
  height: 16rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  border: 1px solid #9a9391;
  border-radius: 0.5rem;
  box-shadow: 0.7rem 0.7rem 0.5rem #4d4d4d;
}
.yahooweather-widget-container .header {
  display: block;
  width: 100%;
  float: left;
}
.yahooweather-widget-container .header-text,
.yahooweather-widget-container .header-body {
  display: block;
  width: 100%;
  float: left;
}
.yahooweather-widget-container .header-text {
  font-family: inherit;
  font-size: 1.8rem;
  margin: 1rem 0 0 1rem;
}
.yahooweather-widget-container .header-body {
  margin: 0 0 0 1rem;
}
.yahooweather-widget-container .header-body .temp,
.yahooweather-widget-container .header-body .conditions {
  display: inline-block;
  float: left;
}
.yahooweather-widget-container .header-body .temp-text {
  font-family: inherit;
  font-size: 6.4rem;
  margin: 0;
}
.yahooweather-widget-container .header-body .conditions-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.yahooweather-widget-container .header-body .conditions-text {
  font-family: inherit;
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}
.yahooweather-widget-container .forecast {
  display: block;
  width: 100%;
  float: left;
  margin: 0.75rem 0 0 0;
}
.yahooweather-widget-container .forecast .daily {
  display: block;
  width: 20%;
  float: left;
}
.yahooweather-widget-container .forecast .daily:first-child:before {
  content: none;
}
.yahooweather-widget-container .forecast .daily:before {
  content: '';
  position: absolute;
  bottom: 0.75rem;
  height: 3.7rem;
  width: 0.1rem;
  display: block;
  border-left: 0.1rem solid #dedad8;
}
.yahooweather-widget-container .forecast .daily p {
  font-family: inherit;
  text-align: center;
  margin: 0;
}
.yahooweather-widget-container .forecast .daily p.day {
  font-size: 1.2rem;
}
.yahooweather-widget-container .forecast .daily p.temp {
  font-size: 1rem;
}
#yahooweather {
  display: block;
  width: 100%;
  float: left;
  border: none;
  padding: 0;
  margin: 0;
}
#yahooweather object {
  display: block;
  width: 100%;
  float: left;
}
