.block-container(@percent-width) {
  display: block;
  width: @percent-width;
  float: left;
}

#yahooweather {

  display: block;
  border: none;
  padding: 0;
  margin: 0;
}

html.yahooweather-widget {
  .block-container(100%);
  height: 100%;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  * {
    box-sizing: border-box;
  }

  body {
    height: 100%;
    width: 100%;
  }

  &-container {
    width: 310px;
    height: 160px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #9a9391;
    border-radius: 5px;
    box-shadow: 7px 7px 5px #4d4d4d;

    .header {
      .block-container(100%);

      &-text,
      &-body {
        .block-container(100%);
      }

      &-text {
        font-size: 18px;
        //font-weight: bold;
        margin: 10px 0 0 10px;
      }

      &-body {
        margin: 0 0 0 10px;

        .temp,
        .conditions {
          display: inline-block;
          float: left;
        }

        .temp {
          p {
            font-size: 64px;
            margin: 0;
          }
        }

        .conditions {
          &-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          &-text {
            font-size: 12px;
            margin: 0;
            text-align: center;
          }
        }
      }
    }

    .forecast {
      .block-container(100%);
      margin: 7.5px 0 0 0;

      .daily {
        .block-container(20%);

        &:first-child:before {
          content: none;
        }

        &:before {
          content: '';
          position: absolute;
          bottom: 7.5px;
          height: 37px;
          width: 1px;
          display: block;
          border-left: 1px solid #dedad8;
        }

        p {
          text-align: center;
          margin: 0;

          &.day {
            font-size: 12px;
            //font-weight: bold;
          }

          &.temp {
            font-size: 10px;
          }
        }
      }
    }
  }
}