.yahooweather-widget {
  display: block;
  width: 100%;
  float: left;
  height: 100%;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.yahooweather-widget * {
  box-sizing: border-box;
}
.yahooweather-widget-container {
  width: 310px;
  height: 160px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #9a9391;
  border-radius: 5px;
  box-shadow: 7px 7px 5px #4d4d4d;
}
.yahooweather-widget-container .header {
  display: block;
  width: 100%;
  float: left;
}
.yahooweather-widget-container .header-text,
.yahooweather-widget-container .header-body {
  display: block;
  width: 100%;
  float: left;
}
.yahooweather-widget-container .header-text {
  font-size: 18px;
  margin: 10px 0 0 10px;
}
.yahooweather-widget-container .header-body {
  margin: 0 0 0 10px;
}
.yahooweather-widget-container .header-body .temp,
.yahooweather-widget-container .header-body .conditions {
  display: inline-block;
  float: left;
}
.yahooweather-widget-container .header-body .temp p {
  font-size: 64px;
  margin: 0;
}
.yahooweather-widget-container .header-body .conditions-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.yahooweather-widget-container .header-body .conditions-text {
  font-size: 12px;
  margin: 0;
  text-align: center;
}
.yahooweather-widget-container .forecast {
  display: block;
  width: 100%;
  float: left;
  margin: 7.5px 0 0 0;
}
.yahooweather-widget-container .forecast .daily {
  display: block;
  width: 20%;
  float: left;
}
.yahooweather-widget-container .forecast .daily:first-child:before {
  content: none;
}
.yahooweather-widget-container .forecast .daily:before {
  content: '';
  position: absolute;
  bottom: 7.5px;
  height: 37px;
  width: 1px;
  display: block;
  border-left: 1px solid #dedad8;
}
.yahooweather-widget-container .forecast .daily p {
  text-align: center;
  margin: 0;
}
.yahooweather-widget-container .forecast .daily p.day {
  font-size: 12px;
}
.yahooweather-widget-container .forecast .daily p.temp {
  font-size: 10px;
}
#yahooweather {
  display: block;
  width: 100%;
  float: left;
  border: none;
  padding: 0;
  margin: 0;
}
#yahooweather object {
  display: block;
  width: 100%;
  float: left;
}
